{
    "ams_adr": {
        "psd_sys_config": {
            "cry_threshold": [2.0, 1.5, 0.0],
            "cry_diff": [1.5, 1.0, 0.0]
        }
    },
    "ams_vdr": {
        "ams_sys_config": {
            "perception_type": "indoor"
        },
        "vframe_sys_config": {
            "support_type": "fc_yuv420_nv12",
            "frame_width": 352,
            "frame_height": 288,
            "frame_rate": 65551
        },
        "sub_vframe_sys_config": {
            "width": 88,
            "height": 72
        },
        "fg_sys_config": {
            "fg_type": 1,
            "fg_refine_enable": 1,
            "fg_width": 88,
            "fg_height": 72,
            "fg_rate": 15
        },
        "bgm_sys_config": {
            "bgm_freq": 0,
            "reset_event_fast_bgm_support": 1
        },
        "gmm_sys_config": {
            "learning_rate": 0.02,
            "background_ratio": 0.7,
            "weight_init": 12,
            "noise_sigma": 5,
            "var_thresh": 4,
            "history": 200,
            "need_bg": 1
        },
        "grad_sys_config": {
            "grad_freq": 4
        },
        "object_sys_config": {
            "trigger_type": 3,
            "object_freq": 0
        },
        "traj_sys_config": {
            "multi_flag": 0,
            "max_fake_num": 5,
            "search_rect_w": 8,
            "search_rect_h": 8,
            "traj_freq": 0
        },
        "od_sys_config": {
            "od_freq": 4,
            "delay_times": 600
        },
        "tt_sys_config": {
            "tt_freq": 0,
            "tt_refine_traj_strategy_enable": 1,
            "tt_speed_correction_enable": 1,
            "tt_nonlinear_transform_enable": 1,
            "tt_autonomous_trigger_switch": 0,
            "tt_nonlinear_map_x": [-1.0, -2.0, -0.3, -0.3, 0.3, 0.3, 1.0, 2.0],
            "tt_nonlinear_map_y": [-1.0, -0.7, -0.5, -0.3, 0.5, 0.3, 1.0, 0.7]
        },
        "view_radius": {
            "view_radius": 0
        },
        "md_sys_config": {
            "md_freq": 2,
            "md_dust_flag": 0,
            "md_width": 128,
            "md_height": 72,
            "multi_flag": 0,
            "max_fake_num": 3,
            "search_rect_w": 30,
            "search_rect_h": 20,
            "md_min_object_on_trajectory": 4,
            "sad_overlap_fg_ratio": [0.16, 0.12, 0.05, 0.035, 0.035, 0.0, 0.0, 0.0, 0.0, 0.0]
        },
        "md_sensitivity_level_day_1": {
            "pd_fg_area_ratio": 0.36,
            "ve_fg_area_ratio": 0.42,
            "other_fg_area_ratio": 0.42,
            "md_area_thresh": 0.23,
            "md_blob_area_thresh": 120,
            "md_edge_area_thresh": 0.35,
            "learning_rate": 0.02,
            "var_thresh": 5,
            "noise_sigma": 12
        },
        "md_sensitivity_level_day_2": {
            "pd_fg_area_ratio": 0.36,
            "ve_fg_area_ratio": 0.42,
            "other_fg_area_ratio": 0.42,
            "md_area_thresh": 0.12,
            "md_blob_area_thresh": 120,
            "md_edge_area_thresh": 0.35,
            "learning_rate": 0.02,
            "var_thresh": 5,
            "noise_sigma": 12
        },
        "md_sensitivity_level_day_3": {
            "pd_fg_area_ratio": 0.36,
            "ve_fg_area_ratio": 0.42,
            "other_fg_area_ratio": 0.42,
            "md_area_thresh": 0.10,
            "md_blob_area_thresh": 120,
            "md_edge_area_thresh": 0.35,
            "learning_rate": 0.02,
            "var_thresh": 5,
            "noise_sigma": 12
        },
        "md_sensitivity_level_day_4": {
            "pd_fg_area_ratio": 0.36,
            "ve_fg_area_ratio": 0.42,
            "other_fg_area_ratio": 0.42,
            "md_area_thresh": 0.08,
            "md_blob_area_thresh": 90,
            "md_edge_area_thresh": 0.35,
            "learning_rate": 0.02,
            "var_thresh": 5,
            "noise_sigma": 12
        },
        "md_sensitivity_level_day_5": {
            "pd_fg_area_ratio": 0.36,
            "ve_fg_area_ratio": 0.42,
            "other_fg_area_ratio": 0.42,
            "md_area_thresh": 0.05,
            "md_blob_area_thresh": 90,
            "md_edge_area_thresh": 0.35,
            "learning_rate": 0.02,
            "var_thresh": 5,
            "noise_sigma": 12
        },
        "md_sensitivity_level_day_6": {
            "pd_fg_area_ratio": 0.33,
            "ve_fg_area_ratio": 0.42,
            "other_fg_area_ratio": 0.42,
            "md_area_thresh": 0.035,
            "md_blob_area_thresh": 90,
            "md_edge_area_thresh": 0.5,
            "learning_rate": 0.02,
            "var_thresh": 5,
            "noise_sigma": 12
        },
        "md_sensitivity_level_day_7": {
            "pd_fg_area_ratio": 0.33,
            "ve_fg_area_ratio": 0.4,
            "other_fg_area_ratio": 0.36,
            "md_area_thresh": 0.029,
            "md_blob_area_thresh": 90,
            "md_edge_area_thresh": 0.5,
            "learning_rate": 0.02,
            "var_thresh": 5,
            "noise_sigma": 12
        },
        "md_sensitivity_level_day_8": {
            "pd_fg_area_ratio": 0.28,
            "ve_fg_area_ratio": 0.35,
            "other_fg_area_ratio": 0.26,
            "md_area_thresh": 0.023,
            "md_blob_area_thresh": 90,
            "md_edge_area_thresh": 0.5,
            "learning_rate": 0.02,
            "var_thresh": 5,
            "noise_sigma": 10
        },
        "md_sensitivity_level_day_9": {
            "pd_fg_area_ratio": 0.28,
            "ve_fg_area_ratio": 0.35,
            "other_fg_area_ratio": 0.26,
            "md_area_thresh": 0.018,
            "md_blob_area_thresh": 90,
            "md_edge_area_thresh": 0.5,
            "learning_rate": 0.02,
            "var_thresh": 5,
            "noise_sigma": 8
        },
        "md_sensitivity_level_day_10": {
            "pd_fg_area_ratio": 0.28,
            "ve_fg_area_ratio": 0.35,
            "other_fg_area_ratio": 0.26,
            "md_area_thresh": 0.012,
            "md_blob_area_thresh": 60,
            "md_edge_area_thresh": 0.5,
            "learning_rate": 0.02,
            "var_thresh": 5,
            "noise_sigma": 8
        },
        "md_sensitivity_level_night_ir_1": {
            "pd_fg_area_ratio": 0.36,
            "ve_fg_area_ratio": 0.42,
            "other_fg_area_ratio": 0.42,
            "md_area_thresh": 0.33,
            "md_blob_area_thresh": 120,
            "md_edge_area_thresh": 0.5,
            "learning_rate": 0.02,
            "var_thresh": 5,
            "noise_sigma": 12
        },
        "md_sensitivity_level_night_ir_2": {
            "pd_fg_area_ratio": 0.36,
            "ve_fg_area_ratio": 0.42,
            "other_fg_area_ratio": 0.42,
            "md_area_thresh": 0.18,
            "md_blob_area_thresh": 120,
            "md_edge_area_thresh": 0.5,
            "learning_rate": 0.02,
            "var_thresh": 5,
            "noise_sigma": 12
        },
        "md_sensitivity_level_night_ir_3": {
            "pd_fg_area_ratio": 0.36,
            "ve_fg_area_ratio": 0.42,
            "other_fg_area_ratio": 0.42,
            "md_area_thresh": 0.125,
            "md_blob_area_thresh": 120,
            "md_edge_area_thresh": 0.5,
            "learning_rate": 0.02,
            "var_thresh": 5,
            "noise_sigma": 10
        },
        "md_sensitivity_level_night_ir_4": {
            "pd_fg_area_ratio": 0.36,
            "ve_fg_area_ratio": 0.42,
            "other_fg_area_ratio": 0.42,
            "md_area_thresh": 0.090,
            "md_blob_area_thresh": 90,
            "md_edge_area_thresh": 0.5,
            "learning_rate": 0.02,
            "var_thresh": 5,
            "noise_sigma": 7
        },
        "md_sensitivity_level_night_ir_5": {
            "pd_fg_area_ratio": 0.36,
            "ve_fg_area_ratio": 0.42,
            "other_fg_area_ratio": 0.42,
            "md_area_thresh": 0.06,
            "md_blob_area_thresh": 90,
            "md_edge_area_thresh": 0.5,
            "learning_rate": 0.02,
            "var_thresh": 5,
            "noise_sigma": 7
        },
        "md_sensitivity_level_night_ir_6": {
            "pd_fg_area_ratio": 0.36,
            "ve_fg_area_ratio": 0.42,
            "other_fg_area_ratio": 0.42,
            "md_area_thresh": 0.032,
            "md_blob_area_thresh": 90,
            "md_edge_area_thresh": 0.5,
            "learning_rate": 0.02,
            "var_thresh": 5,
            "noise_sigma": 7
        },
        "md_sensitivity_level_night_ir_7": {
            "pd_fg_area_ratio": 0.33,
            "ve_fg_area_ratio": 0.4,
            "other_fg_area_ratio": 0.36,
            "md_area_thresh": 0.023,
            "md_blob_area_thresh": 90,
            "md_edge_area_thresh": 0.5,
            "learning_rate": 0.02,
            "var_thresh": 5,
            "noise_sigma": 7
        },
        "md_sensitivity_level_night_ir_8": {
            "pd_fg_area_ratio": 0.28,
            "ve_fg_area_ratio": 0.35,
            "other_fg_area_ratio": 0.26,
            "md_area_thresh": 0.019,
            "md_blob_area_thresh": 40,
            "md_edge_area_thresh": 0.5,
            "learning_rate": 0.02,
            "var_thresh": 5,
            "noise_sigma": 7
        },
        "md_sensitivity_level_night_ir_9": {
            "pd_fg_area_ratio": 0.28,
            "ve_fg_area_ratio": 0.35,
            "other_fg_area_ratio": 0.21,
            "md_area_thresh": 0.008,
            "md_blob_area_thresh": 20,
            "md_edge_area_thresh": 0.5,
            "learning_rate": 0.02,
            "var_thresh": 5,
            "noise_sigma": 7
        },
        "md_sensitivity_level_night_ir_10": {
            "pd_fg_area_ratio": 0.28,
            "ve_fg_area_ratio": 0.35,
            "other_fg_area_ratio": 0.21,
            "md_area_thresh": 0.0034,
            "md_blob_area_thresh": 20,
            "md_edge_area_thresh": 0.5,
            "learning_rate": 0.02,
            "var_thresh": 5,
            "noise_sigma": 7
        },
        "md_sensitivity_level_night_wl_1": {
            "pd_fg_area_ratio": 0.36,
            "ve_fg_area_ratio": 0.42,
            "other_fg_area_ratio": 0.42,
            "md_area_thresh": 0.28,
            "md_blob_area_thresh": 120,
            "md_edge_area_thresh": 0.5,
            "learning_rate": 0.02,
            "var_thresh": 5,
            "noise_sigma": 12
        },
        "md_sensitivity_level_night_wl_2": {
            "pd_fg_area_ratio": 0.36,
            "ve_fg_area_ratio": 0.42,
            "other_fg_area_ratio": 0.42,
            "md_area_thresh": 0.17,
            "md_blob_area_thresh": 120,
            "md_edge_area_thresh": 0.5,
            "learning_rate": 0.02,
            "var_thresh": 5,
            "noise_sigma": 10
        },
        "md_sensitivity_level_night_wl_3": {
            "pd_fg_area_ratio": 0.36,
            "ve_fg_area_ratio": 0.42,
            "other_fg_area_ratio": 0.42,
            "md_area_thresh": 0.13,
            "md_blob_area_thresh": 120,
            "md_edge_area_thresh": 0.5,
            "learning_rate": 0.02,
            "var_thresh": 5,
            "noise_sigma": 10
        },
        "md_sensitivity_level_night_wl_4": {
            "pd_fg_area_ratio": 0.36,
            "ve_fg_area_ratio": 0.42,
            "other_fg_area_ratio": 0.42,
            "md_area_thresh": 0.1,
            "md_blob_area_thresh": 90,
            "md_edge_area_thresh": 0.5,
            "learning_rate": 0.02,
            "var_thresh": 5,
            "noise_sigma": 7
        },
        "md_sensitivity_level_night_wl_5": {
            "pd_fg_area_ratio": 0.36,
            "ve_fg_area_ratio": 0.42,
            "other_fg_area_ratio": 0.42,
            "md_area_thresh": 0.06,
            "md_blob_area_thresh": 60,
            "md_edge_area_thresh": 0.5,
            "learning_rate": 0.02,
            "var_thresh": 5,
            "noise_sigma": 7
        },
        "md_sensitivity_level_night_wl_6": {
            "pd_fg_area_ratio": 0.36,
            "ve_fg_area_ratio": 0.42,
            "other_fg_area_ratio": 0.42,
            "md_area_thresh": 0.05,
            "md_blob_area_thresh": 60,
            "md_edge_area_thresh": 0.5,
            "learning_rate": 0.02,
            "var_thresh": 5,
            "noise_sigma": 7
        },
        "md_sensitivity_level_night_wl_7": {
            "pd_fg_area_ratio": 0.36,
            "ve_fg_area_ratio": 0.42,
            "other_fg_area_ratio": 0.42,
            "md_area_thresh": 0.04,
            "md_blob_area_thresh": 60,
            "md_edge_area_thresh": 0.5,
            "learning_rate": 0.02,
            "var_thresh": 5,
            "noise_sigma": 7
        },
        "md_sensitivity_level_night_wl_8": {
            "pd_fg_area_ratio": 0.28,
            "ve_fg_area_ratio": 0.35,
            "other_fg_area_ratio": 0.28,
            "md_area_thresh": 0.01,
            "md_blob_area_thresh": 45,
            "md_edge_area_thresh": 0.5,
            "learning_rate": 0.02,
            "var_thresh": 5,
            "noise_sigma": 5
        },
        "md_sensitivity_level_night_wl_9": {
            "pd_fg_area_ratio": 0.28,
            "ve_fg_area_ratio": 0.35,
            "other_fg_area_ratio": 0.28,
            "md_area_thresh": 0.0048,
            "md_blob_area_thresh": 45,
            "md_edge_area_thresh": 0.5,
            "learning_rate": 0.02,
            "var_thresh": 5,
            "noise_sigma": 5
        },
        "md_sensitivity_level_night_wl_10": {
            "pd_fg_area_ratio": 0.28,
            "ve_fg_area_ratio": 0.35,
            "other_fg_area_ratio": 0.28,
            "md_area_thresh": 0.0026,
            "md_blob_area_thresh": 32,
            "md_edge_area_thresh": 0.5,
            "learning_rate": 0.02,
            "var_thresh": 5,
            "noise_sigma": 5
        },
        "pd_acf_sys_config": {
            "pd_score_thresh_fb_day": [17.5, 17.0, 16.5, 16.0, 16.0, 15.5, 15.0, 16.0, 15.8, 15.5],
            "pd_score_thresh_ub_day": [17.2, 17.0, 16.8, 16.5, 16.0, 16.0, 15.0, 16.0, 16.0, 15.5],
            "pd_score_thresh_fb_ir": [20.0, 19.0, 18.0, 17.0, 16.5, 16.0, 15.5, 15.8, 15.4, 15.0],
            "pd_score_thresh_ub_ir": [22.5, 20.0, 18.0, 17.5, 17.3, 17.0, 16.0, 15.5, 15.5, 15.0],
            "pd_score_thresh_fb_wl": [20.0, 19.0, 18.0, 17.0, 16.5, 16.0, 15.0, 16.0, 15.5, 15.0],
            "pd_score_thresh_ub_wl": [22.5, 20.0, 18.0, 17.5, 17.0, 16.0, 15.0, 16.0, 15.5, 15.0],
            "pd_sensitivity_step": [9.0, 19.0, 29.0, 39.0, 49.0, 59.0, 69.0, 79.0, 89.0, 99.0],
            "pd_validity_step": [99.0, 89.0, 79.0, 69.0, 59.0, 49.0, 39.0, 29.0, 19.0, 9.0],
            "pd_use_tracking": 1,
            "pd_acf_detect_interval": 5,
            "max_window_width": 160,
            "max_window_height": 260,
            "image_width_scale": 1300,
            "image_height_scale": 900,
            "max_window_width_low_cost": 140,
            "max_window_height_low_cost": 260,
            "image_width_scale_low_cost": 930,
            "image_height_scale_low_cost": 640,
            "sensitivity_step": 10,
            "low_sensitivity": 30,
            "mid_sensitivity": 80,
            "scale_low_sensitivity": 40,
            "pd_enable_suppress": 1
        }
    }
}
