{
	"audio_profile":{
		"ai_param":{
			"gain":27,
			"max_ai_volume":100,
			"min_ai_volume":1,
			"default_ai_volume":100,
			"default_ai_user_volume":100,
		},
		"anr_param":{
			"mode":"1",
			"anr_intensity":15,
			"anr_smooth_level":10,
			"anr_speed":"2"
		},
		"aec_param":{
			"b_noise_enable":"off",
			"delay_sample":0,
			"aec_sup_freq":[20,40,60,80,100,120],
			"aec_sup_intensity":[4,4,4,4,6,6,6]
		},
		"ao_param":{
			"gain":25,
			"max_ao_volume":77,
			"min_ao_volume":20,
			"default_ao_volume":65,
			"default_ao_user_volume":80
		},
		"sys_ao_param":{
			"max_ao_volume":77,
			"min_ao_volume":20,
			"default_ao_volume":70,
			"default_ao_user_volume":80
		},
		"ptz_mute_param":{
			"mute_type_pan":"off",
			"mute_type_tilt":"off",
			"mute_type_zoom":"off",
			"mute_type_af":"off"
		},
		"ns_param":{
			"pan_ns_mode":"2",
			"pan_ns_intensity":2,
			"pan_ns_gain":2.0,
			"tilt_ns_mode":"2",
			"tilt_ns_intensity":3,
			"tilt_ns_gain":2.5,
			"zoom_ns_mode":"0",
			"zoom_ns_intensity":3,
			"zoom_ns_gain":1.0,
			"focus_ns_mode":"0",
			"focus_ns_intensity":3,
			"focus_ns_gain":1.0,
			"none_motor_mode":"1",
			"none_motor_ns_intensity":4,
			"none_motor_ns_gain":1.0,
			"echo_intensity":5
		}
	},
}
