{
	"system": {
		"sys": {
			"dev_alias": "Tapo_Camera",
			"avatar": "room",
			"longitude": 0,
			"latitude": 0
		}
	},
	"device_info":{
		"info": {
			"device_model": "C200",
			"manufacturer_name": "TP-LINK",
			"hw_version": "3.0",
			"model_description": "IPC",
			"cover_reg_num": "4",
			"md_reg_num": "32",
			"roi_reg_num": "1",
			"ppd_reg_num": "4",
			"product_id": "00043460",
			"vendor_id": "00000001"
		},
		"basic_info": {
			"features": "3",
			"device_alias": "IPC",
			"device_name": "C200 3.0",
			"device_info": "C200 3.0 IPC",
			"device_model": "C200",
			"device_type": "SMART.IPCAMERA",
			"hw_version": "3.0"
		}
	},
}
