{
	"function":{
		"module_spec":{
			"app_version":"1.0.0",
			"led":"1",
			"change_password":"1",
			"local_storage":"1",
			"timing_reboot":"1",
			"ota_upgrade":"1",
			"msg_push":"1",
			"smart_msg_push_capability":"1",
			"tums_msg_push":"1",
			"smart_detection":"1",
			"msg_alarm_list":["sound","light"],
			"linkage_capability":"1",
			"custom_area_compensation":"1",
			"ae_weighting_table_resolution":"5*5",
			"network":["wifi","ethernet"],
			"events":["motion","tamper"],
			"playback":["local","p2p","relay"],
			"preview":["local","p2p","relay"],
			"video_codec":["h264","h265"],
			"audio":["speaker","microphone"],
			"download":["video"],
			"osd_capability":"1",
			"record_type":["timing","motion"],
			"record_max_slot_cnt":"10",
			"stream_max_sessions":10,
			"smart_codec":"0",
			"streaming_support_versions":["2.0"],
			"relay_support_versions":["2.0"],
			"p2p_support_versions":["2.0"],
			"device_share":["preview","playback","voice","cloud_storage","motor"],
			"storage_api_version":"2.2",
			"lens_mask":"1",
			"target_track":"1",
			"wireless_hotspot":"0",
			"wifi_cascade_connection":"0",
			"wifi_connection_info":"1",
			"reonboarding":"1",
			"playback_scale":"1",
			"greeter":"1.0",
			"video_message":"1",
			"video_detection_digital_sensitivity":"1",
			"privacy_mask_api_version":"1.0",
			"ssl_cer_version":"1.0",
			"client_info":"1",
			"daynight_subdivision":"1",
			"backlight_coexistence":"1",
			"image_capability":"1",
			"image_list":["supplement_lamp","expose"],
			"media_encrypt":"1",
			"cloud_storage_version":"1.0",
			"tapo_care_version":"1.0.0",
			"auth_encrypt":"1",
			"ai_enhance_capability":"1",
			"ai_enhance_range":["traditional_enhance"],
			"ptz":"1",
			"http_system_state_audio_support":"1",
			"verification_change_password":"1",
			"tums":"1",
			"tums_playback_api_version":"2.0",
			"tums_config":"1",
			"config_recovery":["audio_config","image","OSD","video"],
			"multi_user":"0",
			"playback_version":"1.1",
			"auto_ip_configurable":"1",
			"remote_upgrade":"1",
			"diagnose":"1",
			"diagnose_capability":"1",
			"wide_range_inf_sensitivity":"1",
		}
	}
}
