{
	"image_capability":{
		"expose":{
			"auto_exp_level_supported":"0",
			"auto_exp_level_range":[-10,10]
		},
		"supplement_lamp":{
			"supplement_lamp_type":["infrared_lamp"],
			"night_vision_mode_range":["inf_night_vision"]
		},
		"infrared_lamp":{
			"inf_lamp_type_support":"1",
			"inf_lamp_type_range":["far","near"],
			"intensity_support":"0",
			"intensity_range":"5"
		},
		"dn_switch_mode":{
			"dn_switch_mode_range":["starlight","normal"]
		}
	},
	"storage_capability":{
		"capability":{
			"smart_playback_capability":["ppd"]
		}
	},
	"wait_time":{
		"wait_time":{
			"wait_time_upgrade":60
		}
	},
	"smart_detection":{
		"capability":{
			"linecrossing_detection":"1",
			"intrusion_detection":"1",
			"regionentrance_detection":"0",
			"regionexiting_detection":"0",
			"loitering_detection":"0",
			"fastmoving_detection":"0",
			"parking_detection":"0",
			"unattendedbaggage_detection":"0",
			"abandonandtaken_detection":"0",
			"objectremove_detection":"0",
			"face_detection":"0",
			"scenechange_detection":"0",
			"defocus_detection":"0",
			"audioexception_detection":"0",
			"overline_detection":"0",
			"vehicle_detection":"0",
			"smart_data":"1",
			"people_detection":"1",
			"people_detection_capability":"1",
			"peoplevisit_detection":"0"
		}
	},
	"gpio":{
		"gpio_cfg":{
			"audio_speaker_enable_gpio":63,
			"reset_gpio":62,
			"green_led_gpio":42,
			"red_led_gpio":43,
			"boot_led_gpio":999,
			"wifi_enable":51,
			"wifi_enable_gpio_active_low":0,
		},
		"gpio_led_1":{
			"gpio":43,
			"active_low":"off",
			"default_on":"on",
		},
		"gpio_led_2":{
			"gpio":42,
			"active_low":"off",
			"default_on":"off",
		}
	},
	"ptz":{
		"capability": {
			"position_pan_range": ["-1.000000","1.000000"],
			"position_tilt_range": ["-1.000000","1.000000"],
			"position_zoom_range": ["0.000000","0.000000"],
			"speed_pan_max": "1.000000",
			"speed_tilt_max": "1.000000",
			"speed_default":"0.600000",
			"absolute_move_supported": "1",
			"relative_move_supported": "1",
			"continuous_move_supported": "1",
			"preset_supported": "1",
			"preset_number_max": "8",
			"tour_supported": "0",
			"patrol_supported":"1",
			"patrol_speed_default":"0.8",
			"patrol_spots_number_max":"8",
			"patrol_stay_time_range":[120000,86400000],
			"patrol_recurring_times_range":[1,100],
			"patrol_recurring_duration_range":[1000,10000],
			"home_position_mode": "none",
			"calibrate_supported": "1",
			"eflip_mode":["off","on"],
			"reverse_mode": ["off","on","auto"],
			"scan_supported": "0",
			"park_supported": "0",
			"plan_supported": "0",
			"poweroff_save_supported": "1",
			"poweroff_save_time_range": [10,600],
			"pattern_supported": "0",
			"limit_supported": "0",
			"manual_control_mode": ["compatible","pedestrian","motor_vehicle","non_motor_vehicle","self_adaptive"],
			"manual_control_level": ["low","normal","high"],
			"panoramic_view_supported":"1",
			"panoramic_view_spots_number_max":"20",
			"panoramic_view_speed_default":"1.0"
		},
		"basic_config":{
			"speed_pan_default": "0.350000",
			"speed_tilt_default":"0.350000",
			"proportional_pan_enabled": "0",
			"timeout_default": "180000",
			"elevation_min":"0",
			"elevation_max":"90",
			"reverse_mode":"off",
			"eflip_mode":"off",
			"sensor_flip_type":"off"
		},
		"scan_config":{
			"speed":"0.7000"
		},
		"park_config":{
			"enabled":"0",
			"park_time":"5",
			"action_mode":"auto_scan",
			"action_id":"1"
		},
		"limit_config":{
			"enabled":"0",
			"key_position_pan_enabled":"0",
			"key_position_pan_left":"-1",
			"key_position_pan_right":"1",
			"key_position_tilt_enabled":"0",
			"key_position_tilt_down":"-1",
			"key_position_tilt_up":"1",
			"scan_position_pan_enabled":"0",
			"scan_position_pan_left":"-1",
			"scan_position_pan_right":"1",
			"scan_position_tilt_enabled":"0",
			"scan_position_tilt_down":"-1",
			"scan_position_tilt_up":"1"
		},
		"poweroff_save_config":{
			"enabled":"1",
			"save_time":"30"
		},
		"manual_control_config":{
			"speed_mode":"self_adaptive",
			"speed_level":"normal"
		},
		"motor_drv":{
			"x_max_speed":440,
			"x_direction":1,
			"x_forward_direction":-1,
			"x_model":"24BYJ48_64",
			"x_start_angle":0,
			"x_end_angle":340,
			"x_phy_start_angle":0,
			"x_phy_end_angle":340,
			"x_construct_master_teeth":1,
			"x_construct_slave_teeth":1,
			"y_max_speed":440,
			"y_direction":1,
			"y_forward_direction":1,
			"y_model":"24BYJ48_64",
			"y_start_angle":-15,
			"y_end_angle":55,
			"y_phy_start_angle":-15,
			"y_phy_end_angle":55,
			"y_construct_master_teeth":1,
			"y_construct_slave_teeth":1,
			"x_gpio_a":40,
			"x_gpio_b":46,
			"x_gpio_c":45,
			"x_gpio_d":39,
			"y_gpio_a":38,
			"y_gpio_b":48,
			"y_gpio_c":47,
			"y_gpio_d":41,
			"switch_gpio":0,
			"x_factory_angle":161,
			"y_factory_angle":0,
			"frame_scan_ms":1000,
			"frame_stay_ms":5000,
			"pt_speed":1,
			"motor_move_sync":0,
			"lens_mask_pan_angle":-10000.000,
			"lens_mask_tilt_angle":-90.000,
			"sensor_horizontal":5088,
			"sensor_vertical":2862
		}
	},
	"home":{
		"home":{
			"position_pan":"-1.000",
			"position_tilt":"1.000"
		}
	},
	"preset":{
		"preset_config":{
			"image_freeze_enabled":"0",
			"speed": 1.0
		}
	},
	"patrol":{
		"patrol_config":{
			"recurring_times_default":"10",
			"recurring_duration_default":"36000",
			"stay_time_default":"300000"
		},
		"patrol_1": {
			"value":"off",
			"type":"preset",
			"name":["","","","","","","",""],
			"spot_id": [1,2,3,4,5,6,7,8],
			"spot_sequence":[0,0,0,0,0,0,0,0],
			"spot_enabled": ["off","off","off","off","off","off","off","off"],
			"spot_stay_time": [300000,300000,300000,300000,300000,300000,300000,300000],
			"spot_speed_pan": [1.000,1.000,1.000,1.000,1.000,1.000,1.000,1.000],
			"spot_speed_tilt": [1.000,1.000,1.000,1.000,1.000,1.000,1.000,1.000],
			"spot_speed_zoom": [1.000,1.000,1.000,1.000,1.000,1.000,1.000,1.000],
			"spot_position_pan": [1.000,1.000,1.000,1.000,1.000,1.000,1.000,1.000],
			"spot_position_tilt": [1.000,1.000,1.000,1.000,1.000,1.000,1.000,1.000],
			"spot_position_zoom": [1.000,1.000,1.000,1.000,1.000,1.000,1.000,1.000],
		},
		"schedule":{
			"enabled": "off",
			"patrol_schedule": "0000-0000,127"
		}
	},
	"panoramic_view":{
		"panoramic_view":{
			"number": 6,
			"wait_time": 2000,
			"position_start": "-0.950000",
			"position_end": "0.950000",
		},
		"panoramic_view_config":{
			"enabled": "off"
		},
		"calibrated_params":{
			"cali_params_k_0": ["1.48466050e+03", "0.00000000e+00", "9.69189808e+02",
                    "0.00000000e+00", "1.48479733e+03", "5.29308040e+02",
                    "0.00000000e+00", "0.00000000e+00", "1.00000000e+00"],
			"cali_params_d_0": ["-0.27289379", "-0.02109339", "0.00230572", "-0.00110774", "0.00000000e+00"],
			"cali_params_k_1": ["1.48466050e+03", "0.00000000e+00", "9.69189808e+02",
                    "0.00000000e+00", "1.48479733e+03", "5.29308040e+02",
                    "0.00000000e+00", "0.00000000e+00", "1.00000000e+00"],
			"cali_params_d_1": ["-0.27289379", "-0.02109339", "0.00230572", "-0.00110774", "0.00000000e+00"],
		},
		"fov_info":{
			"h_fov":76,
			"v_fov":42,
			"d_fov":89
		}
	},
	"video_capability":{
		"main":{
			"encode_types":["H264","H265"],
			"frame_rates":[65537,65546,65551],
			"bitrates":[256, 512, 850, 1024, 2048],
			"bitrate_types":["cbr","vbr"],
			"resolutions":["1920*1080","1280*720","640*360"],
			"qualitys":[1,3,5]
		},
		"minor":{
			"encode_types":["H264","H265"],
			"frame_rates":[65537,65546,65551],
			"bitrates":[64, 128, 256, 512],
			"bitrate_types":["cbr","vbr"],
			"resolutions":["640*360"],
			"qualitys":[1,3,5]
		}
	},
	"video":{
		"main":{
			"quality":"3",
			"resolution":"1280*720",
			"bitrate_type":"vbr",
			"frame_rate":"65551",
			"bitrate":"850",
			"encode_type":"H264",
			"smart_codec":"off",
			"default_bitrate":"850",
		},
		"minor":{
			"quality":"3",
			"resolution":"640*360",
			"bitrate_type":"vbr",
			"frame_rate":"65551",
			"bitrate":"256",
			"encode_type":"H264",
		}
	},
	"osd_capability":{
		"capability":{
			"label_info_max_length":["16", "16", "16"],
			"position_lock":"0",
			"display_mode":["ntnb","ntb","tnb","tb"],
			"font_size":["auto","16*16","32*32","48*48","64*64"],
			"color_type":["auto","user_defined"],
			"font_color":["black","white"],
			"link_chn_to_dev_support":"1",
			"label_info_num":"3",
			"label_info_max_length":["16","16","16"],
			"position_lock":"0",
			"date_support":"1",
			"week_support":"1",
			"logo_support":"1",
			"zoom_support":"0",
			"azimuth_support":"0",
			"preset_support":"0",
			"limit_size_to_64_support":"0"
		}
	},
	"OSD":{
		"label_info_1": {
			"x_coor":"0",
			"y_coor":"700",
			"enabled":"off",
			"text":"Tapo C200"
		}
	},
	"image":{
		"switch": {
			"switch_mode":"common",
			"wtl_intensity_level": "5",
			"schedule_start_time":"21600",
			"schedule_end_time":"64800",
			"flip_type":"off",
			"rotate_type":"off",
			"night_vision_mode":"inf_night_vision",
			"ldc":"off",
		},
		"common": {
			"luma":"50",
			"contrast":"50",
			"chroma":"50",
			"saturation":"50",
			"sharpness":"50",
			"exp_type":"auto",
			"shutter":"1/25",
			"exp_gain":"0",
			"inf_type":"auto",
			"inf_start_time":"64800",
			"inf_end_time":"21600",
			"inf_sensitivity":"1",
			"inf_sensitivity_day2night":"1400",
			"inf_sensitivity_night2day":"9100",
			"inf_delay":"5",
			"wide_dynamic":"off",
			"wd_gain":"50",
			"wb_type":"auto",
			"wb_R_gain":"50",
			"wb_G_gain":"50",
			"wb_B_gain":"50",
			"lock_red_gain":"0",
			"lock_gr_gain":"0",
			"lock_gb_gain":"0",
			"lock_blue_gain":"0",
			"lock_red_colton":"0",
			"lock_green_colton":"0",
			"lock_blue_colton":"0",
			"lock_source":"local",
			"area_compensation":"default",
			"smartir":"off",
			"smartir_level":"100",
		},
		"shedday":{
			"luma":"50",
			"contrast":"50",
			"chroma":"50",
			"saturation":"50",
			"sharpness":"50",
			"exp_type":"auto",
			"shutter":"1/25",
			"exp_gain":"0",
			"inf_type":"off",
			"inf_delay":"30",
			"wide_dynamic":"off",
			"wd_gain":"50",
			"wb_type":"auto",
			"wb_R_gain":"50",
			"wb_G_gain":"50",
			"wb_B_gain":"50",
			"lock_red_gain":"0",
			"lock_gr_gain":"0",
			"lock_gb_gain":"0",
			"lock_blue_gain":"0",
			"lock_red_colton":"0",
			"lock_green_colton":"0",
			"lock_blue_colton":"0",
			"lock_source":"local",
			"area_compensation":"default",
			"smartir":"off",
			"smartir_level":"100",
		},
		"shednight":{
			"luma":"50",
			"contrast":"50",
			"chroma":"50",
			"saturation":"50",
			"sharpness":"50",
			"exp_type":"auto",
			"shutter":"1/25",
			"exp_gain":"0",
			"inf_type":"on",
			"inf_delay":"30",
			"wide_dynamic":"off",
			"wd_gain":"50",
			"wb_type":"auto",
			"wb_R_gain":"50",
			"wb_G_gain":"50",
			"wb_B_gain":"50",
			"lock_red_gain":"0",
			"lock_gr_gain":"0",
			"lock_gb_gain":"0",
			"lock_blue_gain":"0",
			"lock_red_colton":"0",
			"lock_green_colton":"0",
			"lock_blue_colton":"0",
			"lock_source":"local",
			"area_compensation":"default",
			"smartir":"off",
			"smartir_level":"100",
		},
		"autoday":{
			"luma":"50",
			"contrast":"50",
			"chroma":"50",
			"saturation":"50",
			"sharpness":"50",
			"exp_type":"auto",
			"shutter":"1/25",
			"exp_gain":"0",
			"inf_type":"auto",
			"inf_sensitivity":"4",
			"inf_sensitivity_day2night":"1400",
			"inf_sensitivity_night2day":"9100",
			"inf_delay":"5",
			"wide_dynamic":"off",
			"wd_gain":"50",
			"wb_type":"auto",
			"wb_R_gain":"50",
			"wb_G_gain":"50",
			"wb_B_gain":"50",
			"lock_red_gain":"0",
			"lock_gr_gain":"0",
			"lock_gb_gain":"0",
			"lock_blue_gain":"0",
			"lock_red_colton":"0",
			"lock_green_colton":"0",
			"lock_blue_colton":"0",
			"lock_source":"local",
			"area_compensation":"default",
			"smartir":"off",
			"smartir_level":"100",
		},
		"autonight":{
			"luma":"50",
			"contrast":"50",
			"chroma":"50",
			"saturation":"50",
			"sharpness":"50",
			"exp_type":"auto",
			"shutter":"1/25",
			"exp_gain":"0",
			"inf_type":"auto",
			"inf_sensitivity":"4",
			"inf_sensitivity_day2night":"1400",
			"inf_sensitivity_night2day":"9100",
			"inf_delay":"5",
			"wide_dynamic":"off",
			"wd_gain":"50",
			"wb_type":"auto",
			"wb_R_gain":"50",
			"wb_G_gain":"50",
			"wb_B_gain":"50",
			"lock_red_gain":"0",
			"lock_gr_gain":"0",
			"lock_gb_gain":"0",
			"lock_blue_gain":"0",
			"lock_red_colton":"0",
			"lock_green_colton":"0",
			"lock_blue_colton":"0",
			"lock_source":"local",
			"area_compensation":"default",
			"smartir":"off",
			"smartir_level":"100",
		},
		"common_area_compensation_region_info_1":{
			"height":"5",
			"width":"5",
			"x_coor":"0",
			"y_coor":"0"
		},
		"autoday_area_compensation_region_info_1":{
			"height":"5",
			"width":"5",
			"x_coor":"0",
			"y_coor":"0"
		},
		"autonight_area_compensation_region_info_1":{
			"height":"5",
			"width":"5",
			"x_coor":"0",
			"y_coor":"0"
		},
		"shedday_area_compensation_region_info_1":{
			"height":"5",
			"width":"5",
			"x_coor":"0",
			"y_coor":"0"
		},
		"shednight_area_compensation_region_info_1":{
			"height":"5",
			"width":"5",
			"x_coor":"0",
			"y_coor":"0"
		}
	},
	"motion_detection":{
		"motion_det":{
			"enabled":"on",
			"sensitivity":"medium",
			"digital_sensitivity":"60",
			"people_enabled":"off"
		},
		"motion_notif_list":{
			"app_enabled":"off",
			"client_enabled":"off",
			"record_enabled":"on",
			"msg_push_enabled":"on",
			"light_alarm_enabled":"on",
			"sound_alarm_enabled":"on"
		},
		"region_info_1":{
			"height":"10000",
			"width":"10000",
			"x_coor":"0",
			"y_coor":"0"
		},
		"arming_schedule":{
			"monday":["0000-2400"],
			"tuesday":["0000-2400"],
			"wednesday":["0000-2400"],
			"thursday":["0000-2400"],
			"friday":["0000-2400"],
			"saturday":["0000-2400"],
			"sunday":["0000-2400"]
		},
		"md_sensitivity":{
			"max_md_sensitivity":100,
			"min_md_sensitivity":1,
			"md_sensitivity_cutoff_lm":35,
			"md_sensitivity_cutoff_mh":70,
			"md_sensitivity_low":20,
			"md_sensitivity_medium":50,
			"md_sensitivity_high":80,
			"area_sensitivity":[1.0, 0.012, 0.0051, 0.00168, 0.0011, 0.0]
		},
	},
	"tamper_detection":{
		"tamper_det":{
			"enabled":"off",
			"digital_sensitivity":"50"
		},
		"tamper_notif_list":{
			"light_alarm_enabled":"on",
			"sound_alarm_enabled":"on",
			"msg_push_enabled":"on"
		},
		"od_sensitivity":{
			"max_od_sensitivity":100,
			"min_od_sensitivity":1,
			"od_sensitivity_cutoff_lm":35,
			"od_sensitivity_cutoff_mh":70,
			"od_sensitivity_low":20,
			"od_sensitivity_medium":50,
			"od_sensitivity_high":80,
			"area_sensitivity":[0.81, 0.77, 0.72, 0.67, 0.61, 0.55]
		}
	},
	"people_detection":{
		"detection":{
			"enabled":"on",
			"sensitivity":"60"
		},
		"capability":{
			"sensitivity_supported":"1",
			"region_num":"4",
			"add_regions_supported":"1"
		},
		"notify_list":{
			"record_enabled":"on",
			"msg_push_enabled":"on",
			"light_alarm_enabled":"on",
			"sound_alarm_enabled":"on"
		},
		"region_info_1":{
			"id":"1",
			"pt1_x":"0",
			"pt1_y":"0",
			"pt2_x":"10000",
			"pt2_y":"0",
			"pt3_x":"10000",
			"pt3_y":"10000",
			"pt4_x":"0",
			"pt4_y":"10000"
		},
		"arming_schedule":{
			"monday":["0000-2400"],
			"tuesday":["0000-2400"],
			"wednesday":["0000-2400"],
			"thursday":["0000-2400"],
			"friday":["0000-2400"],
			"saturday":["0000-2400"],
			"sunday":["0000-2400"]
		},
	},
	"sound_detection":{
		"bcd":{
			"enabled":"off",
			"sensitivity":"medium",
			"digital_sensitivity":"50"
		},
		"capability":{
			"sensitivity_supported":"1",
		},
		"notify_list":{
			"app_enabled":"off",
			"client_enabled":"off",
			"msg_push_enabled":"on",
			"light_alarm_enabled":"off",
			"sound_alarm_enabled":"off",
			"record_enabled":"on"
		},
		"arming_schedule":{
			"monday":["0000-2400"],
			"tuesday":["0000-2400"],
			"wednesday":["0000-2400"],
			"thursday":["0000-2400"],
			"friday":["0000-2400"],
			"saturday":["0000-2400"],
			"sunday":["0000-2400"]
		},
	},
	"abnormal_events":{
		"login_err":{
			"enabled":"on",
			"max_num_err":"10"
		},
		"login_err_notif_list":{
			"msg_push_enabled":"on"
		},
	},
	"linkage_capability":{
		"capability": {
			"sound_alarm_capability":"000000000000100000000000001111",
			"light_alarm_capability":"000000000010100000000000001101",
			"record_capability":     "000000000000100000000000001101",
			"msg_push_capability":   "000000001010100000000000001111",
		}
	},
	"ai_enhance_capability":{
		"face_enhance":{
		},
		"traditional_enhance":{
			"people_enhance_ver":"7",
		},
	},
	"network":{
		"if_config":{
			"support_bridge":"1",
			"ifname":"br-wan",
			"ethname":"eth0",
		}
	},
	"protocol":{
		"static":{
			"fac_ipaddr":"192.168.0.10",
			"auto_ip":"on"
		},
		"dhcp":{
			"enable_broadcast": "0",
			"hostname": "C200"
		}
	},
	"audio_config":{
		"speaker":{
			"volume":"100",
			"output_device_type":"SpeakerOut"
		},
		"microphone":{
			"sampling_rate":"8",
			"channels":"1",
			"encode_type":"G711alaw",
			"mute":"off",
			"volume":"100",
			"bitrate":"64",
			"noise_cancelling":"on",
			"echo_cancelling":"off",
			"input_device_type":"MicIn"
		},
		"language_info":{
			"language":"other"
		},
		"speaker_algo":{
			"ns":"off",
			"hs":"on"
		},
		"microphone_algo":{
			"ns":"on",
			"hs":"off",
			"aec":"on",
			"sys_aec":"on"
		}
	},
	"audio_capability":{
		"device_speaker": {
			"sampling_rate": ["8","16"],
			"channels":"1",
			"decode_type": ["G711alaw","G711ulaw"],
			"volume":"1",
			"mute":"0",
			"system_volume":"100"
		},
		"device_microphone":{
			"sampling_rate": ["8"],
			"channels":"1",
			"encode_type": ["G711alaw"],
			"volume":"1",
			"mute":"1",
			"noise_cancelling":"1",
			"aec":"1"
		}
	},
	"rtsp":{
		"client_limit":{
			"max_p2p_relay_num":4,
			"max_main_num":2,
			"max_sub_num":2
		},
		"net_config":{
			"main_send_buf_size":524288,
			"minor_send_buf_size":65536,
			"p2p_send_buf_size":524288
		}
	},
	"brand_spec":{
		"info": {
			"factory_mode_str":"TP-Link Technologies CO.,LTD, IPC FOR FACTORY MODE",
			"device_type":"SMART.IPCAMERA",
			"data_file_prefix":"tp",
			"manufacturer":"TP-Link",
			"copyright":"TP-Link Technologies CO.,LTD",
			"onvif_name":"TP-IPC",
			"app_type":0
		}
	},
	"smart_data":{
		"status": {
			"enabled":"on"
		}
	},
	"video_message": {
		"video_message": {
			"enabled": "off",
			"duration": "15"
		}
	},
	"msg_alarm":{
		"chn1_msg_alarm_info": {
			"alarm_mode":["sound", "light"],
			"sound_alarm_enabled":"on",
			"alarm_type":"0",
			"light_alarm_enabled":"on",
			"light_type":"1",
			"alarm_volume":"high",
			"alarm_duration":"0",
		},
		"alert_type": {
			"alert_type_list": ["Siren", "Tone"]
		},
		"volume_level":{
			"volume_low":"20",
			"volume_normal":"50",
			"volume_high":"100",
		}
	},
	"msg_alarm_plan":{
		"arming_schedule_light": {
			"monday":"[\"0000-2400\"]",
			"tuesday":"[\"0000-2400\"]",
			"wednesday":"[\"0000-2400\"]",
			"thursday":"[\"0000-2400\"]",
			"friday":"[\"0000-2400\"]",
			"saturday":"[\"0000-2400\"]",
			"sunday":"[\"0000-2400\"]"
		},
		"arming_schedule_sound": {
			"monday":"[\"0000-2400\"]",
			"tuesday":"[\"0000-2400\"]",
			"wednesday":"[\"0000-2400\"]",
			"thursday":"[\"0000-2400\"]",
			"friday":"[\"0000-2400\"]",
			"saturday":"[\"0000-2400\"]",
			"sunday":"[\"0000-2400\"]"
		}
	},
	"greeter":{
		"chn1_greeter_ctrl":{
			"enabled":"off",
			"enhance_type_bitmap":"0"
		},
		"chn1_greeter_mute":{
			"enabled":"off",
			"trigger_times":"3",
			"seconds":"600"
		},
		"chn1_greeter_audio":{
			"enter_audio_id":"12288",
			"leave_audio_id":"14336",
			"enter_id_cpy":"12288",
			"leave_id_cpy":"14336",
			"enter_checksum_cpy":"0",
			"leave_checksum_cpy":"0",
			"enter_volume":"100",
			"leave_volume":"100"
		},
		"chn1_greeter_line":{
			"start_point_x":"0",
			"start_point_y":"500",
			"end_point_x":"999",
			"end_point_y":"500"
		},
		"chn1_greeter_plan":{
			"enabled":"off",
			"greeter_plan_1":"0000-0000,127"
		}
	},
	"target_track": {
		"target_track_info": {
			"track_mode":"pantilt"
		},
		"fov_info": {
			"x_angle": 79,
			"y_angle": 43
		},
		"angle_level":{
			"angle_level_1":30,
			"angle_level_2":23,
			"angle_level_3":14
		}
	},
	"lens_info":{
		"info":{
			"focal_length":4000,
			"max_focal_length":4000
		},
	},
	"smart_msg_push_capability":{
		"capability": {
			"support": ["md", "od","id","cd","ppd","hd_lack","hd_error"]
		},
	},
	"alarm_audio_type_capability":{
		"capability":{
			"usr_def_audio_alarm_support": "1",
			"alarm_volume_support": "1",
			"alarm_duration_support": "1",
			"alert_event_type_support": "1",
			"usr_def_audio_alarm_max_num": "15",
			"usr_def_start_file_id": "8195",
			"usr_def_audio_type": "0",
			"usr_def_audio_max_duration": "15"
		}
	},
	"wlan": {
		"cascade0": {
			"on_boot":"off"
		},
		"basic": {
			"factory_flag":"on",
			"tx_capability":35,
			"rx_capability":30
		}
	},
	"onvif":{
		"function":{
			"onvif_support_media2":"off"
		},
		"profile_1": {
			"ptzconf": "PTZTOKEN"
		},
		"profile_2": {
			"ptzconf": "PTZTOKEN"
		},
		"profile_3": {
			"ptzconf": "PTZTOKEN"
		},
	}
}
